@import '../../assets/styles/pages/main';

.demo-iFrame {
  width: 50%;
  display: block;
  float: left;
  border: 0;
  position: absolute;
  height: 100%;
}

.demo-iFrame--right {
  right: 0;
  background: azure;
}

.demo-iFrame--left {
  left: 0;
  background: gray;
}
