

$white-transparent-70: rgba(255,255,255,.7);

$orange-100: #F4A618;
$gray-10: #FFFDFB;
$gray-20: #EFF3F6;
$gray-30: #C6CFD6;
$gray-40: #A8B6C2;
$gray-60: #7F828D;
$gray-70: #6E7A89;
$gray-90: #3A3C4C;


$font-family-primary: 'Open Sans', sans-serif;;