.chat-input {
  background: white;
  position: relative;
  box-shadow: $box-shadow-s;
}

.chat-input__text-input {
  border:none;
  padding: $gutter-base $gutter-l;
  width: 100%;
  color: $gray-70;
  font-size: $font-size-m;

  &::placeholder {
    color: $gray-30;
  }

  &:focus {
    outline: none;
  }
}
