@keyframes message-theirs {
  0% {opacity: 0;}
  50% { opacity: 1; transform: translate(10px) }
  100% {transform: translate(0) }
}

@keyframes message-my {
  0% {opacity: 0;}
  50% { opacity: 1; transform: translate(-10px) }
  100% {transform: translate(0) }
}


.chat-messages {
  height: 435px;
  overflow-y: auto;
}

.chat-messages__container {
  padding: 0;
  margin: 0 $gutter-xl $gutter-xl;
}

.chat-messages__message {
  list-style: none;
  clear: both;
}

.ui-chat-messages__container {
  margin: $gutter-xl;
}

.chat-messages__message {
  font-size: $font-size-s;
  margin: $gutter-base 0 0;
  border-radius: $border-radius;
  position: relative;
  animation-duration: 1s;
}

.chat-messages__message--my,
.chat-messages__message--theirs {
  padding: $gutter-l $gutter-base;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -$gutter-xs;
  }
}

.chat-messages__message--my {
  color: white;
  background-color: $orange-100;
  margin-right: $gutter-m;

  &:after {
    border-left-color: $orange-100;
    border-right: 0;
    right: 0;
    margin-right: -$gutter-m;
  }
}

.chat-messages__message--theirs {
  color: $gray-70;
  background: $gray-20;
  margin-left: $gutter-m;

  &:after {
    border-right-color: $gray-20;
    border-left: 0;
    left: 0;
    margin-left: -$gutter-m;
  }
}

.chat-messages__message--status,
.chat-messages__message--system {
  color: $gray-40;
  font-size: $font-size-s;
  margin: 0;
}

.chat-messages__message--system {
  padding-top: $gutter-xl;
  text-align: center;
}

.chat-messages__message--status {
  padding: 0;
  text-align: right;
  margin-top: $gutter-xs;
}

.chat-messages__message--theirs {
  animation-name: message-theirs;
}

.chat-messages__message--my {
  animation-name: message-my;
}
