.chat-header {
  padding: $gutter-l;
  background-color: $orange-100;
  box-shadow: $box-shadow-s;
  position: relative;
  z-index: 1;
}
.chat-header__container {

  display: table;
  width: 100%;
}

.chat-header__image,
.chat-header__info {
  display: table-cell;
  vertical-align: middle;
}

.chat-header__image {
  width: 50px;
}

.chat-header__image-wrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.chat-header__info-title {
  color: white;
  font-size: $font-size-base;
}

.chat-header__info-subtitle {
  color: $white-transparent-70;
  font-size: $font-size-s;
}